<title> TODO LIST </title>

<form action="/" method="POST">
  <input name="todo" placeholder="digite aqui...">
  <button type="submit">Enviar</button>
</form>
<hr>
<ul>
  <% db.each do |b| %>
    <div class="deletediv">
    <li > 
      <%= b %> <br>
        <form action="/delete/<%= b %>" method="POST" class= "deleteform">

          <center>
            <button class="delete">
              <img src="/excluir.png"  width="25px" height="25px">
            </button>
          </center>

        </form>
    </li>
    </div>
    <br>
  <% end %>
</ul>
